# 忽略所有图像文件
*.mha 
*.mhd
*.raw
*.png
*.jpeg

# 忽略测试输出目录
results
TrainedModel
tmp

*.zip
# 忽略 pycache 文件
*.pyc

# 忽略 VS Code 配置目录
.vscode

# 忽略 npy 数组文件
*.npy

# 其他临时或中间产物
*.pyc
__pycache__
.vscode
.odt
*.png
*__pycache__*
*.mha
*.pyc
*tmp/
*.npy
*.npz
*.txt
*.pt
!requirements-server-py39.txt

*.pdf
*.pkl

!docs/
!docs/papers/
!docs/papers/*.pdf

# 额外忽略规则
**/Webpage
